.main-container {
  position: relative;
  min-height: 100vh;
  .dashboard {
    position: fixed;
    max-height: 10vh;
    min-height: fit-content;
    // background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000000;
  }
  .content {
    position: relative;
    // top: 10vh;
    min-height: fit-content;
    // background-color: pink;
  }
}
