<div class="home-container">
  <div class="title">Title</div>
  <div class="images">
    <div class="left-image">
      <div class="left-branch-group">
        <div class="left-branch-group-sub">
          <div class="left-branch--1">
            <img
              src="../../../assets/branch.png"
              class="image-branch"
              srcset=""
            />
          </div>
          <div class="left-branch--2">
            <img
              src="../../../assets/branch.png"
              class="image-branch"
              srcset=""
            />
          </div>
        </div>
      </div>
      <div class="left-tree-group">
        <div class="left-tree--1">
          <img src="../../../assets/tree.png" class="image-tree" srcset="" />
        </div>
        <div class="left-tree--2">
          <img src="../../../assets/tree.png" class="image-tree" srcset="" />
        </div>
        <div class="left-tree--3">
          <img src="../../../assets/tree.png" class="image-tree" srcset="" />
        </div>
      </div>
    </div>
    <div class="right-image">
      <div class="right-branch-group">
        <div class="right-branch--1">
          <img
            src="../../../assets/branch-rev.png"
            class="image-branch"
            srcset=""
          />
        </div>
        <div class="right-branch--2">
          <img
            src="../../../assets/branch-rev.png"
            class="image-branch"
            srcset=""
          />
        </div>
      </div>
      <div class="right-tree-group">
        <div class="right-tree--1">
          <img
            src="../../../assets/tree.png"
            class="image-tree--right"
            srcset=""
          />
        </div>
        <div class="right-tree--2">
          <img
            src="../../../assets/tree.png"
            class="image-tree--right"
            srcset=""
          />
        </div>
        <div class="right-tree--3">
          <img
            src="../../../assets/tree.png"
            class="image-tree--right"
            srcset=""
          />
        </div>
      </div>
    </div>
    <div class="grass">
      <img src="../../../assets/grass2.png" class="grass--image" alt="" />
      <!-- <img src="../../../assets/grass1.png" class="grass--image" alt="" /> -->
    </div>
  </div>
</div>
